@import "../../utilities/colorsVariables.scss";
@import "../../utilities/sizesVariables.scss";

.UI_collection_radio {
    width: 25px;
    height: 30px;
    cursor: pointer;
}

.UI_collection_radio_container {
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}