@import "../../utilities/colorsVariables.scss";
@import "../../utilities/sizesVariables.scss";

.UI_collection_text {
  color: inherit;
  cursor: inherit;

  &.font__bold {
    font-weight: bold;
  }

  &.font__primary {
    color: $font-primary;
  }

  &.font__success {
    color: $font-success;
  }

  &.font__secondary {
    color: $font-secondary;
  }

  &.font__danger {
    color: $font-danger;
  }

  &.font__warning {
    color: $btn-warning;
  }

  &.font__disabled {
    color: $font-disabled;
  }

  &.sm {
    font-size: $sm-text;
  }

  &.sm2 {
    font-size: $sm2-text;
  }

  &.sm3 {
    font-size: $sm3-text;
  }

  &.md1 {
    font-size: $md-text;
  }

  &.md2 {
    font-size: $md2-text;
  }
  &.md3 {
    font-size: $md3-text;

  }
  &.md4 {
    font-size: $md4-text;
  }

  &.lg {
    font-size: $lg-text;
  }

  &.lg2 {
    font-size: $lg2-text;
  }

  &.link__text {
    text-decoration: none;
  }

  &.link__text:visited {
    text-decoration: none;
  }
}
