.UI_collection_list {
  width: 100%;
  height: auto;
}

.UI_collection_list_item {
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns:auto minmax(100px, 1fr);
  align-items: center;
  column-gap: 15px;
  cursor: pointer;

  &:hover {
    background-color: #dee0de;
  }
}
