
/**
Buttons
**/
$btn-primary: #0E5AA7;
$btn-primary-hover: #0b539b;
$btn-success: #45A636;
$btn-success-hover: #208110;
$btn-secondary: #8F9C9A;
$btn-secondary-hover: #6E807D;
$btn-danger: #E92B3C;
$btn-danger-hover: #D2091B;
$btn-warning: #D87533;
$btn-warning-hover: #C45A13;
$btn-disabled: #E1E4E5;
$success: #24B83E;

/**********
Inputs
**********/
$inp-borders: #dddfe2;
$inp-borders-active: #3182E5;
$inp-disabled-borders: #B0B6BD;
$inp-error-borders: #E1163B;

/**********
Fonts
***********/
$font-error: #D71034;

/*****************
Select
******************/
$select-gray-borders: #ccc3c3;
$select-borders: #3182E5;

/*****************
Font Colors
******************/

$font-primary: #0E5AA7;
$font-success: #45A636;
$font-secondary: #8F9C9A;
$font-danger: #E92B3C;
$font-disabled: #E1E4E5;

/*****************
Globals
******************/
$white: #FFFFFF;
$black: #000000;
$light-gray-1: #E5DEDF;
$light-gray-2: #A8AFA9;
$dark-gray-1: #ACADAC;

$black-2: #2D2E2D;