/***** 
Buttons
*****/
$btn-sm: 100px;
$btn-md: 200px;
$btn-lg: 300px;

/***** 
Inputs
*****/

$inp-sm: 200px; 
$inp-md: 300px; 
$inp-lg: 500px; 

/*******
Select
*******/
$select-sm: 200px;
$select-md: 300px;
$select-lg: 500px;

/******
Dropdown
*******/
$dropdown-sm: 200px;
$dropdown-md: 300px;
$dropdown-lg: 500px;

/*****
Font sizes
*****/

$sm-text: 12px;
$sm2-text: 14px;
$sm3-text: 16px;
$md-text: 18px;
$md2-text: 20px;
$md3-text: 22px;
$md4-text: 24px;
$lg-text: 26px;
$lg2-text: 28px;

/********
Globals
*********/