
.UI_collection_items_container {

    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    &.__row {
        flex-direction: row;
    }

    &.__colum {
        flex-direction: column;
    }

    & * {
       margin-left: 5px; 
    }

}

.divider {
    flex: 1;
    margin: 0px;
}