@import "../../utilities/colorsVariables.scss";

.UI_collection_expansion_panel {
    height: auto;
    width: auto;
}

.UI_collection_expansion_panel_header {
    height: 40px;
    width: auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 25px;
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid $light-gray-2;
    cursor: pointer;
    &.__open {
        border-bottom: 0px;
    }
}

.UI_collection_expansion_panel_content {
    width: auto;
    height: auto;
    padding: 8px 16px 16px;
    background-color: $white;
    display: none;
    transition: display 2s ease-in-out;
    &.__open {
        display: block;
        border-bottom: 1px solid $light-gray-2;
    }
}